.ac-wrapper {
    position: relative;
}

.ac-results {
    position: absolute;
    z-index: 1000;
    background-color: white;
    opacity: 0.96;
    max-height: 500px;
    overflow: auto;
    /*margin-top: 54px;*/
    color: rgb(80, 80, 80);
    width: 100%;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.ac-results .searching .image {
    float: left;
}
.ac-results .searching p {
    margin-left: 70px;
    padding-top: 13px;
    color: #999;
}
b.outdated {
    color: red;
}
.ac-result {
    padding: 6px;
}

.ac-result.active {
    background-color: #efefef;
}

.ac-result:hover {
    cursor: pointer;
    background-color: #efefef;
}

.ac-result .image {
    float: left;
    margin-right: 10px;
}

.ac-result .image img {
    width: 60px;
}

.ac-result p {
    font-size: 13px;
}


.fadein-enter {
  opacity: 0.01;
}
.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fadein-leave {
  opacity: 1;
}
.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.fadein-appear {
  opacity: 0.01;
}
.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.statistics-units {
    text-align: center;
}

#persistent {
    position: absolute;
    right: 10px;
    top: 10px;
}
