#add-links {
    margin-top: 30px;
}
#add-links .btn {
    margin-right: 10px;
}
#episodes {
    margin-top: 60px;
}

#episodes
p.episode-metadata {
    font-weight: 'bold';
    color: #aaa;
    font-size: 90%;
    margin-bottom: 3px;
}

#episodes
.media-body {
    margin-bottom: 20px;
}

#episodes
p.episode-summary {
    line-height: 20px;
}
